.card{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    align-self: center;
    padding: 10px;
}

@media only screen and (max-width: 800px){
    .card{
        grid-template-columns:  1fr 1fr;
    }
}